.profile-page {
    background-color: #E9FFFA;
  }
  
  .profile-avatar {
    width: 150px;
  }
  
  .profile-info {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  

  

  .row{
        margin-top: 50px;
  }